body{
margin:0;
font-family:Arial;
}

header{
background:#222;
color:white;
padding:10px;
text-align:center;
}

.editor{
display:flex;
height:90vh;
}

.left-panel{
width:200px;
background:#f2f2f2;
padding:10px;
border-right:1px solid #ccc;
}

.left-panel button{
width:100%;
margin:5px 0;
padding:10px;
cursor:grab;
}

.right-panel{
width:220px;
background:#fafafa;
padding:10px;
border-left:1px solid #ccc;
}

#canvas{
flex:1;
background:white;
position:relative;
}

.element{
position:absolute;
padding:5px;
border:1px dashed transparent;
}

.element:hover{
border:1px dashed gray;
}
